html{
    background-image: url('http://i.imgur.com/Ldsvapi.jpg');
}

h1{
    color:navajowhite;
    text-shadow: 4px 4px 5px saddlebrown;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
}

h2{
    text-shadow: 4px 4px 5px #6b3312;
    font-size: 40px;
}

#anthologies{
    float: right;
    color: white;
    position: absolute;
    right: 200px;
    top: 200px;
    margin-bottom: 20px;
    
    
}

#novels{
    color: white;
    top: 200px;
    margin-bottom: 20px;
    left: 200px;
    position: absolute;
}
input{
    font-size: 17px;
    box-shadow: 4px 4px 5px #6b3312;
    border-radius: 4px;
    width: 400px;
    height: 30px;
}
.input-group{
    width: 400px;
}

#anthologyStories{
    width: 292px;
}

#storyAuthor{
    width: 292px;
}

textarea{
    height: 200px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 4px 4px 5px #6b3312;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 4px 4px 5px #6b3312;
}

a{
    color: navajowhite;
    text-decoration: none;
}

a:visited{
    color: navajowhite;
    text-decoration: none;
}

a:hover{
    color: navajowhite;
    text-decoration: none;
}

a:active{
    color: navajowhite;
    text-decoration: none;
}

table{
    background: wheat;
    box-shadow: 4px 4px 5px saddlebrown;
    border-collapse: collapse;
    border: ridge brown;
    top: 150px;
    right: 110px;
    left: -90px;
    position: absolute;

}

th{
    width: 200px;
    height: 50px;
}

#tableYear{
    width: 65px;
}

#tablePages{
    width: 72px;
}

#tableReview{
    width: 350px;
}

#tableSeriesNum{
    width: 60px;
}
#tableNov{
    margin-left: 160px;
}

#tableAnt{
    margin-left: 190px;
}

#next{
    float: right;
}

.sortTitle{
    left: 350px;
    position: absolute;
}

.sortAuthor{
    left: 610px;
    position: absolute;
}

.sortYear{
    left: 900px;
    position: absolute;
}
